.btn-group(dropdown='', is-open='status.isopen')
  button#single-button.btn.btn-sm.btn-primary(type='button', dropdown-toggle='', ng-disabled='disabled')
    | {{selectedTimespan}}
    span.caret
  ul.dropdown-menu(role='menu', aria-labelledby='single-button')
    li(ng-repeat='timespan in timespanOptions track by timespan.name')
      a(href='#', ng-class='{"text-strong": timespan.bold}', ng-click='selectTimespan(timespan)') {{timespan.name}}
