.undo-alert(ng-if='deleted')
  .alert.alert-danger
    p {{gameresult.game.name}} game result was deleted...
    button.undo-button.btn.btn-warning.btn-sm(ng-click='undoDelete()') Oh no! What have I done?! Undo!
.chart-container.gameresult-container(ng-hide='chartLoading', ng-if='!deleted')
  .panel.panel-default.panel-gameresult
    .panel-heading
      h4 #[strong {{gameresult.game.name | characters:30 }}] ({{gameresult.scores.length}} Players)
      .btn-group.pull-right(dropdown='', is-open='status.isopen')
        button#single-button.btn.btn-default.btn-xs(type='button', dropdown-toggle='', ng-disabled='disabled')
          | More...
          span.caret
        ul.dropdown-menu(role='menu', aria-labelledby='single-button')
          li(role='menuitem')
            a(ui-sref='tournaments.tournament.gameresults.gameresult({gameresult:gameresult._id})') Show Points
          li(role='menuitem')
            a(ui-sref='tournaments.tournament.games.game({bggid:gameresult.game.id})') Show Game Statistics
          li(role='menuitem', ng-hide='ownRole != "admin"')
            a(ui-sref='tournaments.tournament.gameresults.gameresult.edit({gameresult:gameresult._id})') Edit
          li(role='menuitem', ng-hide='ownRole != "admin"')
            a(href='#', ng-click='delete()') Delete

      p.game-date.pull-right(style='margin-right: 10px;') {{gameresult.time | date:"mediumDate"}}
    .panel-body
      highchart.animated.animated-delay.ng-hide(ng-show='!chartLoading', ng-style='chartStyle', config='gameresultChartConfig')

.loading-container.gameresult-container(ng-show='chartLoading')
  .loading
    span.loading-spinner
    p.loading-text Loading Game Result...

