.bgginfo-wrapper.ng-hide(ng-show='bgginfo')
  .media.bgg-info.mbot
    .media-left.pull-left
      a(href='https://boardgamegeek.com/boardgame/{{bgginfo.id}}', target='_blank')
        img.media-object.game-thumbnail(ng-src='{{bgginfo.thumbnail}}', alt='{{bgginfo.name}}')
    .media-body
      h4.media-heading {{bgginfo.name}} #[span.year ({{bgginfo.yearPublished}})]
      table.info-table
        tbody
          tr
            td Rating:
            td.value {{bgginfo.rating}}
            td.num-votes
          tr
            td Weight:
            td.value {{bgginfo.weight}}
            td.num-votes
          tr
            td Owned By:
            td.value {{bgginfo.ownedBy}}
            td.num-votes
          tr
            td Play Time:
            td.value {{bgginfo.playTime}}min
            td.num-votes
          tr
            td Rank:
            td.value {{bgginfo.rank}}
            td.num-votes
